body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
    background-image: repeating-linear-gradient(-45deg, 
        #ffffff 0px,
        #ffffff 20px,
        #b1e0ff 20px,
        #b1e0ff 40px);
    background-repeat: no-repeat;
}
#cabecera{
    background: #33a;
    color: #fff;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#container{
    width: 60%;
    padding: 1em;
    border: 1px solid #ddd;
    margin: 0 auto;
}
#container h1{
    font-size: 20px;
}